#content{
    height: 20rem;
    background-color: black;
    padding: 2%;
}

#box{
    background-color: rgb(73, 73, 73);
    height: 15rem;
    width: 15rem;
    margin: 1em;
    border-radius: 5%;
    border: 1px solid gray;
}

.inside-box{
    color: white;
    text-align: center;
    line-height: 15rem; 
    font-size: 8rem;
    display: block;
}


